
<div class="ui grid">



    <div class="one wide column" ></div>

    <div class="fourteen wide column">

      <div class="ui large menu" style="background-color: #282442">

              <div  id="yearNameId" class=" item" style="color: white; font-size: 200%; text-decoration: underline; ">
                <% if not @current_year.nil? %>
                <div style="" >
                    <%= @current_year %>
                </div>
                <% end %>
              </div>

          <div class=" item" >
                      <div class="ui vertical divider">
         </div>
        </div>


        <% if @current_year.nil? %>
                <div class=" item " style="background-color: orange">
        <% else %>
                  <div class=" item ">
        <% end %>

          <div class="ui simple dropdown item " style="color: white; font-size: 120% ;">
            Год
            <i class="dropdown icon"></i>
            <div class="menu">
              <% list_years.each do |y| %>


                <%= link_to y, { controller: "pages", action: "index", year: y.to_s }, { class: "item" } %>


              <% end %>

            </div>
          </div>
        </div>

        <% if @current_year.nil? %>
            <div class=" item"  style="display: none"  >
        <% else %>
              <div class=" item"   >
        <% end %>


          <div class="ui simple dropdown item" style="color: #dbdbdb;">
            <div style="font-size: 120% ;">Отчёт</div>
            <i class="dropdown icon"></i>
            <div class="menu">

              <% reportsList.each do |r| %>

              <%= link_to r[0], { controller: "pages", action: r[1], year: @current_year }, { class: "item" } %>

              <% end %>

              <%= link_to "Общий отчёт", { controller: "pages", action: "index", year: @current_year }, { class: "item" } %>

            </div>
          </div>
        </div>


        <% if ( not @current_year.nil? ) and   diplom_version  %>
          <div class=" item" style="color: #dbdbdb; font-size: 120% ;">
        <% else %>
            <div class=" item" style="color: #dbdbdb; font-size: 120% ; display: none">
        <% end %>

        <%= link_to "ABC-анализ", { controller: "pages", action: "abs_product_analysis", year: @current_year }, { class: "item", style: "color: #dbdbdb"} %>

        </div>

        <div class="right menu">


            <% if current_user.admin? %>
                  <div class="item">

                    <%= link_to rails_admin_path, class: "ui vertical red animated button" do %>
                        <div class="hidden content">Данные</div>
                        <div class="visible content">
                          <i class="database icon"></i>
                        </div>
                      <% end %>

                  </div>
          <% end %>

        <div class=" item" >

          <%= link_to destroy_user_session_path, class: "ui animated button" do %>
                  <div class="visible content">Выйти</div>
                  <div class="hidden content">
                    <i class="right arrow icon"></i>
                  </div>
            <% end %>





          </div>

          </div>




      </div>


    </div>

      <div class="one wide column" ></div>

</div>
