<!DOCTYPE html>
<html>
  <head>
    <title>TurnoverPlanning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="background: #6B3759; background: -webkit-linear-gradient(#6B3759, #3E3C6B); background:    -moz-linear-gradient(#6B3759, #3E3C6B); background: linear-gradient(#6B3759, #3E3C6B);">

      <%#    <% if current_user %>
      <%#        <%= javascript_pack_tag 'index' %>
      <%#        <%= content_tag :div,
                id: "current_user_data",
                data: current_user.to_json do %>
      <%#        <% end %>
    <%#      <% else %>

    <%#      <% end %>

    <% if current_user %>
      <%= render partial: 'shared/navigation' %>
      <%= yield %>
    <% end %>


  <%= yield %>




  </body>
</html>
